name: Push to AUR

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Version to push (e.g., v0.3.4)'
        required: true

jobs:
  publish_aur:
    runs-on: ubuntu-latest
    if: github.repository == 'alexm-dev/runa-packaging' && github.actor == 'alexm-dev' && startsWith(github.event.inputs.tag, 'v')

    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Setup SSH Agent
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.RUNA_AUR_SSH }}

      - name: Import GPG Key
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.RUNA_CI_GPG }}
          git_user_signingkey: true
          git_commit_gpgsign: true

      - name: Push
        run: |
          mkdir -p ~/.ssh
          ssh-keyscan aur.archlinux.org >> ~/.ssh/known_hosts

          git clone "ssh://aur@aur.archlinux.org/runa.git" aur_clone
          cp PKGBUILD .SRCINFO aur_clone/
          cd aur_clone
          git config user.name "runa CI (CI automation)"
          git config user.email "runa-ci@proton.me"
          git add PKGBUILD .SRCINFO
          if git diff --quiet && git diff --staged --quiet; then
            echo "No changes detected."
          else
            git commit -S -m "Update to ${{ github.event.inputs.tag }} via GitHub Actions"
            git push origin master
          fi
