name: Push to AUR

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Version to push (e.g., v0.3.4)'
        required: true

jobs:
  publish_aur:
    runs-on: ubuntu-latest
    if: github.repository == 'alexm-dev/runa-packaging' && github.actor == 'alexm-dev' && startsWith(github.event.inputs.tag, 'v')

    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Update PKGBUILD and Generate .SRCINFO
        run: |
          CLEAN_VER=$(echo "${{ github.event.inputs.tag }}" | sed 's/^v//;s/^\.//')
          echo "Target version: $CLEAN_VER"

          docker run --rm \
            -v "$(pwd)/arch:/pkg" \
            -w /pkg \
            -e CLEAN_VER="$CLEAN_VER" \
            archlinux:latest bash -c "
              set -e

              pacman -Sy --noconfirm pacman-contrib sudo

              useradd -m builduser
              echo 'builduser ALL=(ALL) NOPASSWD: ALL' >> /etc/sudoers

              chown -R builduser:builduser /pkg

              sed -i \"s/^pkgver=.*/pkgver=\$CLEAN_VER/\" PKGBUILD
              sed -i \"s/^pkgrel=.*/pkgrel=1/\" PKGBUILD

              sudo -u builduser updpkgsums

              sudo -u builduser makepkg --printsrcinfo > .SRCINFO

              chown -R 1001:1001 /pkg
            "

      - name: Setup SSH Agent
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.RUNA_AUR_SSH }}

      - name: Import GPG Key
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.RUNA_CI_GPG }}
          git_user_signingkey: true
          git_commit_gpgsign: true

      # - name: Sync and Push
      #   run: |
      #     mkdir -p ~/.ssh
      #     ssh-keyscan aur.archlinux.org >> ~/.ssh/known_hosts
      #
      #     git clone "ssh://aur@aur.archlinux.org/runa.git" aur_clone
      #     cp PKGBUILD .SRCINFO aur_clone/
      #     cd aur_clone
      #     git config user.name "runa CI (CI automation)"
      #     git config user.email "runa-ci@proton.me"
      #     git add PKGBUILD .SRCINFO
      #     if git diff --quiet && git diff --staged --quiet; then
      #       echo "No changes detected."
      #     else
      #       git commit -S -m "Update to ${{ github.event.inputs.tag }} via GitHub Actions"
      #       git push origin master
      #     fi
